# https://docs.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions
#
# Contributors to the evolution of this form:
#
#  sunqm
#  fishjojo
#  mjw99
#  yangcal
#  maxscheurer
#
name: CI

#FIXME: workflow dependency not working on non-default branch?
#on:
#  workflow_run:
#    workflows:
#      - Lint
#    types:
#      - completed
on: [push, pull_request]

jobs:
  linux-debug:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install and Test
        run: ./.github/workflows/run_debug.sh

